{% extends '::base.html.twig' %}
{% block body %}
<h1>Liste des posts</h1>
<ul>
    {% for post in posts %}
    <li class="{{ (loop.index is odd) ? 'odd' : 'even'}}"style="{{post.is_publish ? true : 'color:red;'}}">{{post.title}}</li>
    {% endfor %}
</ul>
<a href="{{ path('trouve_blog_newPost') }}">lien new post</a>
{%endblock%}
