{% extends 'TrouveBlogBundle::layout.html.twig' %}


{% block body %}

<div class="blog-post">

    {% for post in posts %}
        
            {% include 'TrouveBlogBundle:Post:inline.html.twig' %}
 {% endfor %}
</div>
{%endblock%}

{% block sidebar %}

<div class="sidebar-module sidebar-module-inset">
   <h4>Categories</h4>

   <div class="sidebar-module">
     <ol class="list-unstyled">
        {% for category in categories %}
             <li><a href="?category.id={{category.id}}">{{category.name}}</a></li>
        {% endfor %}
      </ol>
   </div>
</div></div>
{%endblock%}